<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224596807425-4t2bj33vk78dnre1r04m6qmrh6990ilj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224596807425-4t2bj33vk78dnre1r04m6qmrh6990ilj</string>
	<key>API_KEY</key>
	<string>AIzaSyB6MUkP8pWH3F_TQPTA4AYZmVgfI4UmljM</string>
	<key>GCM_SENDER_ID</key>
	<string>224596807425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>chat-app-613f5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-613f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224596807425:ios:50850e1c90133818e25500</string>
</dict>
</plist>